apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "radarr.parflesh.github.io/v1alpha1",
          "kind": "Radarr",
          "metadata": {
            "name": "example-radarr"
          },
          "spec": {
            "size": 3
          }
        }
      ]
    capabilities: Basic Install
  name: radarr-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Radarr is the Schema for the radarrs API
      displayName: Radarr
      kind: Radarr
      name: radarrs.radarr.parflesh.github.io
      resources:
      - kind: Deployment
        name: radarr-operator
        version: v1
      - kind: Service
        name: radarr-operator
        version: v1
      specDescriptors:
      - description: Stop automatic updates when hash for image tag changes
        displayName: Disable Image Updates
        path: disableUpdates
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:update
      - description: Filesystem Group
        displayName: Filesystem GroupID
        path: fsGroup
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
        - urn:alm:descriptor:com.tectonic.ui:number
      - description: 'Container image capable of running SABnzbd (Default: quay.io/parflesh/sabnzbd:latest)'
        displayName: Container Image
        path: image
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
      - description: Image pull secret for private container images
        displayName: Image Pull Secret
        path: imagePullSecret
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
        - urn:alm:descriptor:io.kubernetes:Secret
      - description: Priority Class Name
        displayName: Priority Class Name
        path: priorityClassName
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: Run as Group Id
        displayName: GroupID
        path: runAsGroup
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
        - urn:alm:descriptor:com.tectonic.ui:number
      - description: Run as User Id
        displayName: User ID
        path: runAsUser
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:pod
        - urn:alm:descriptor:com.tectonic.ui:number
      - description: Persistent Volume Claim
        displayName: Persistent Volume Claim
        path: volumes[0].claim
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:arrayFieldGroup:volumes
        - urn:alm:descriptor:io.kubernetes:PersistentVolumeClaim
      - description: Mount path for volume
        displayName: Mount Path
        path: volumes[0].mountPath
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:arrayFieldGroup:volumes
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: Name
        displayName: Name
        path: volumes[0].name
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:arrayFieldGroup:volumes
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: Volume SubPath
        displayName: Sub Path
        path: volumes[0].subPath
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:arrayFieldGroup:volumes
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: 'Time to wait between checking resource status (Default: 1m)'
        displayName: Watch Frequency
        path: watchFrequency
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:update
        - urn:alm:descriptor:com.tectonic.ui:text
      statusDescriptors:
      - displayName: Deployments
        path: deployments
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:podStatuses
      - description: Desired Image hash for container
        displayName: Image
        path: image
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: Phase
        displayName: Phase
        path: phase
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.phase
      - description: Reason
        displayName: Reason
        path: reason
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.phase:reason
      version: v1alpha1
  description: Placeholder description
  displayName: Radarr
  icon:
  - base64data: "iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAACDBJREFUWAmlV3tQVNcd/u69e3eXBRbYBZaHLCgPBaawKhoQxRKs70liojFqGqNOsM6o1WqntdYEp5MxnVFbje2kmTiNiQE7WmNVwKggwUQsD2V5TDCCigi7PIR1gX3fvT331iUILJLJ+eec83t+95x7ft85FCbYzOaraltT2acK3vgiI2FlFMXQFCsXvXmnDTzPuTmXy26hNKUhs5aup6g5vRMJTT3PqLv+6DLW0nTaRy6XcwHplEuZAZ5RjulGcWZIzBVgntzkrTa7ze2fuFKVtLVoTOOnQq8AWlsPBCmN7S0KhV+gXbOe4mUR48UZpaPsHZB1nuCt1oG+J5rIuOjoPX2jjIhgTACPSlek+vCWKsT+jpUEzRzLb8IyznQLaP7A+YTzmT154bnakY70SEFz8Wu5rL27+mhJLHv003JYLJaRJhOeW61WHD9dg/fPhbA+XF/VvYuvbBrp/AyAhvOrZ/nzxr8dKX9B8v0DE+7dv4/8ggIIgX5ss9lsOHPmDKqrq9E7KMXhEp3El+75qKnwjbThsYa2oKNjpoKtU/btO62UWrggZCVxsAyaUfNQhTCNBrt37YJUKh3u63XsdDpx8PBhdHR0wOlwIHbKFLS1t8OPNSPv1R6HM2UgKCKiRlzaoRVw6yMaD5zqlGrj0iFhGLyV7cLWnDaka9vFxHv27oXL5fKa1KPgOA7btm+H0t8fbQ8fYu2aNdi9ezfi4+IQpEnC0YsuqUsf1uixFwEYLmUmD/b3aH21K1FZVYW8996DNfYgOEUSfpXTDXagAprQULyblwchAc/z4tfdun0ber1eHAsyQZe3fz/iSLJrZWXYuWMHsrKyQFEUct95BwaDAXxgNmz9fdqmwtfErRC3oKdwlnFPgZ/GN0SHGTNm4OWXXvo/QLeNHKXP0NqixyfXglBZXY/ly5dDSKwKCoLJZAJLtkUuk8FmtyMpMREXLlxAWloakpKS8PqqVZ4PFfuKmzdRXFwMa48eeevY7ogll0Npnp/JDtj44MnJC/F1eTmWLV36gxMthz08F+Ev5OHtuUa8vCwbfz1yBFMTElBXVwe1Wg1S/dDZ2YnQ4GAUnDqFxYsXQ6VSjUouBM1IT4eR2GoTF8Bh6VE1NiZLmS1pwe9f1suyzpcbsGvnTnH5fkDwdMT4IkA7H+HWAviEpKG6tgnJycmAoxsBvgwUylC0trZixvTpiIqKwqaNG0eF8AiErfwiPx+Tp0yhYzi7r0RKU2///UuyN6wb06ZN89iN6nkmAGGZf8F6xR9BD/Rg86IuqBU20a7XIsORIh/M/vkGzJs3b5TvcEECWb2+vj7UG3RIj7y7juYpSmm2++LNtWsRGRk53Hb0mFFAnfAq/rDCMpRcMFIp7Ni/0oTslNEuIyWBgYHYtGEDPvnsLMC7lLTD6ZYEBgSgqalJ/FtHOoycy9uPjRQNzeXtR4bG4w2EAjc3MxMOjmEIADD3HzyAyWwez0fUUc4e0A6jVzua6CmHwaveo7CSKhkfHw+nCww5BTwVGhKCxYsWefTj9Pw4uqcqUg+e1+bOmSOeGMANWialXMK+CMfqeY1nQ+CWaryauSUqTIS2GxsbxRWQSiiOlrK0q+nOHRRfuuQ18HCFLXL78OkzY3vo2mfm3iZfXbmCOaQmsBKeoymeN89KicYbq1ejoaHBm8+Q/Pi5FuTr0/B4gBmSmSwSnKxJQU1FMej+W0PysQathB+EYnf9GjkFoM3MzjWhweTWM/eO0Q8Owlw6nW4sP1FWUlKCE59/DgsfivyvaeiNUbjUoMapm2oYzAoUVvTiZ5oHCFH5gJdHjxmntLQUzc3NWJJiglbt/IjWLJe+mzW1nyssKoKUZUUQY3kKvL6TUPJygv52bS1SU1PxsIuDyarA5JgY3CVBs+fPx6rdJXjw3XUwj78aFUZgUzs5ARcLC5GRHOQ2xQ7sFcmosyijs6AuI/Q/V/T4LUmSSc7o8CZwxD8+/hi6lBQYu7oQo9WKIISyK1xWhMtHDAHRR8hJ6eeHG4R0DmydjpnabtgjNhNWJWWbtP9WVuLohx9iQUYs1ugquzRLvtVIBAXP+OcsndasP3XeSt+oqEDC1KkIIeQitPOE3WpqasSrmZYk3kEoliUr1dLSgsHBQbgIBQvMKAAQvvDs2bMouXYNpbV2JPp9D3/rLlhi/oQeF6FoIhcAk1xunvbNEeKLf9LBky1d+37p96YmLludf7YM5AaORMILV65eRUN9ParIHWEjKZ8CFcsI9Qr8LjBeWFgYIsLDEUQACDKGXGSEAiPUlX+e/DdcAVmYFmyA38BV/KvcheIrZch9fQaSVHXNmiXf7BMAiCsgDAyT1NMXMN/01syOl5aRy8TDtjZ0Go0Qrlcv5uRgESlUArDnNQFgDrFvuXcP16tu4X5bNOLDONz4rg6zU6Pwi+ibjvZw9XRPnKErWWrq5UGLi525Y1En53L2iz8LRdOYNGkStmzePKHknqACiM25udCQuyRIcapqZsFQDuxYaOSsnCxNyOWxFX9Cz0ToO4py1vGQnPjgfADjH5yAX2/b9qOSD49lJ7ekQ4cOwW03kOQGjtSctyKWXc0fbjMKgKC8f/kVnZKxVCL29z/5YeLqqwFa/uw0e3mYjAlAAPHo0TG1n+HOXYXcN9D2E55mFqv1yUB4dGxU1G96hbgjm1cAHsO22mMrAu31X0h9/OWccvbEHqfmSt5h7beZZLp1UbotX3pijdU/F4DHqb//21DnneLjEu5xDikD5Hkuoeinz3O3+Dx38eTA2B2MqkQ2dekmf//MLo/veP3/ABW3VY2D2LrzAAAAAElFTkSuQmCC"
    mediatype: "image/png"
  install:
    spec:
      deployments:
      - name: radarr-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: radarr-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: radarr-operator
            spec:
              containers:
              - command:
                - radarr-operator
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: radarr-operator
                image: quay.io/parflesh/radarr-operator
                imagePullPolicy: Always
                name: radarr-operator
                resources: {}
              serviceAccountName: radarr-operator
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - radarr-operator
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          - deployments
          verbs:
          - get
        - apiGroups:
          - radarr.parflesh.github.io
          resources:
          - '*'
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        serviceAccountName: radarr-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Sonarr
  maintainers:
  - email: parflesh@gmail.com
    name: ParFlesh
  maturity: alpha
  provider:
    name: ParFlesh
    url: https://github.com/ParFlesh
  version: 0.0.1
